@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 mx-auto">
                <div class="cta-inner rounded">
                    Bạn không có quyền truy cập vào đây
                    <hr />
                </div>
            </div>
        </div>
    </div>
</section>