@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">

                    <!-- Main -->
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="text-info">
                                    Vui lòng kiểm tra email của bạn và xác nhận địa chỉ email của bạn.
                                </p>
                            </div>
                            <div class="col-md-12">
                                <p>Nhấn vào <a href="@Url.Action("Login","Account")">Đây</a> để đăng nhập</p>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
