@{
    ViewBag.Title = "Reset password confirmation";
}
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">

                    <!-- Main -->
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    Mật khẩu đã được khôi phục. @Html.ActionLink("Ấn vào đây để đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>