@{
    ViewBag.Title = "CategoryDetail";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
    List<Post> lstCategory = ViewBag.getCategoryDetail;
}


<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 mx-auto">
                <h1 class="card-text text-center">CategoryDetail</h1>
                <div class="cta-inner rounded">

                    <div class="container">
                        <div class="row">
                            @foreach (var item in lstCategory)
                            {
	                            <div class="row">
		                            <div class="col-4"><img src="@item.Image" class="img-fluid"/></div>
		                            <div class="col-8">
			                            <h3>@item.Title</h3>
			                            <div>@Html.Raw(item.Description.Substring(0, 300) + " ...")</div>
			                            <div class="col-2 offset-10"><a href="@Url.Action("PostDetail","Home",new { @id = item.PostId})">Chi Tiết</a></div>
		                            </div>
	                            </div>
	                            <br/>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


