@model IEnumerable<OMW_Project.Models.Post>
@*<section class="page-section clearfix">
		<div class="container">
			<div class="intro">
				<img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="/Assets/images/intro1.jpg" alt="">
				<div class="intro-text left-0 text-center bg-faded p-5 rounded">
					<h2 class="section-heading mb-4">
						<span class="section-heading-upper">Đông Y</span>
						<span class="section-heading-lower">Tư Vấn</span>
						<span class="section-heading-lower">Mua Thuốc</span>
					</h2>
					<p class="mb-3">
						Sống có thời vận, chết do số trời. Hãy đến với chúng tôi để nắm dữ sinh mạng trong tay bạn
					</p>
					<div class="intro-button mx-auto">
						<a class="btn btn-primary btn-xl" href="home.html">Trang Chủ</a>
					</div>
				</div>
			</div>
		</div>
	</section>*@
@section NavBar{
	<nav class="navbar navbar-inverse bg-inverse fixed-top bg-faded">
		<div style="width:100%">
			<div class="col">

				@Html.Partial("_PartialLoginButton")
			</div>
		</div>
	</nav>
}

<section class="page-section cta">
	<ul class="slides">
		<input type="radio" name="radio-btn" id="img-1" checked />
		<li class="slide-container">
			<div class="slide">
				<img src="https://vuonghy.com/wp-content/uploads/2020/03/Untitled-1-1.jpg" />
			</div>
			<div class="nav">
				<label for="img-3" class="prev">&#x2039;</label>
				<label for="img-2" class="next">&#x203a;</label>
			</div>
		</li>

		<input type="radio" name="radio-btn" id="img-2" />
		<li class="slide-container">
			<div class="slide">
				<img src="http://yhoccotruyennamhoang.com/images/slider/dong-y-nam-hoang-banner-2.jpg" />
			</div>
			<div class="nav">
				<label for="img-1" class="prev">&#x2039;</label>
				<label for="img-3" class="next">&#x203a;</label>
			</div>
		</li>

		<input type="radio" name="radio-btn" id="img-3" />
		<li class="slide-container">
			<div class="slide">
				<img src="https://maplelifevn.com/wp-content/uploads/2018/09/bai-thuoc-manh-loc-truong-xuan-tri-suy-giam-sinh-ly-nam.png" />
			</div>
			<div class="nav">
				<label for="img-2" class="prev">&#x2039;</label>
				<label for="img-1" class="next">&#x203a;</label>
			</div>
		</li>

		<li class="nav-dots">
			<label for="img-1" class="nav-dot" id="img-dot-1"></label>
			<label for="img-2" class="nav-dot" id="img-dot-2"></label>
			<label for="img-3" class="nav-dot" id="img-dot-3"></label>
		</li>
	</ul>
</section>

<!--post-->
<section class="page-section cta">
	<div class="container">
		<div class="row">
			<div class="col-xl-12 mx-auto">
				<div class="cta-inner rounded">
					@foreach (var item in Model)
					{
						<h1>@item.Title</h1>
						@Html.Raw(item.Description)
						<hr />
					}
				</div>
			</div>
		</div>
	</div>
</section>

<section class="page-section cta">
	<div class="container">
		<div class="row">
			<div class="col-xl-9 mx-auto">
				<div class="cta-inner text-center rounded">
					<h2 class="section-heading mb-4">
						<span class="section-heading-upper">Chúng tôi cam kết</span>
						<span class="section-heading-lower">Với Bạn</span>
					</h2>
					<p class="mb-0" style="font-family: Dancing Script; font-size: 35px;">Đông Nam linh hoạt trị vạn nan y</p>
				</div>
			</div>
		</div>
	</div>
</section>