@model OMW_Project.Models.CategoryPost

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết thể loại sản phẩm</h2>

<div>

	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.CategoryName)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.CategoryName)
		</dd>

	</dl>
</div>
<div class="row">
	<div class="col-md-offset-1 col-md-10">
		<a class="btn btn-info" href="@Url.Action("Edit", "CategoryPostAdmin", new { id = Model.CategoryPostId })">Sửa</a>
		<a class="btn btn-default" href="@Url.Action("Index", "CategoryPostAdmin")">Quay lại</a>
	</div>
</div>