<footer class="main-footer">
	<!-- To the right -->
	<div class="pull-right hidden-xs">
		Keep moving forward
	</div>
	<!-- Default to the left -->
	<strong>OMW  &copy; 2019 <a href="#">Team</a>.</strong> Everything you ever needed.
</footer>
