
@model OMW_Project.Models.CategoryProduct

@{
    ViewBag.Title = "Delete";
}

<h2>Xóa</h2>

<h3>Bạn chắc chắn muốn xóa thể loại này?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="col-md-offset-1 col-md-10">
            <input type="submit" value="Xóa" class="btn btn-danger" /> 
			<a class="btn btn-default" href="@Url.Action("Index", "CategoryProductAdmin")">Quay lại</a>
        </div>
    }
</div>